@model DBFirst_MySql2.ViewModels.VM_tStudent2_Department

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<div class="row">
    <!--科系列表-->
    <div class="col-3">
        <table class="table">
            <tr>
                <th><a asp-action="Students" asp-route-DeptID="">全部科系</a></th>
            </tr>
            @foreach (var Item in Model.Departments)
            {
                <tr>
                    <th><a asp-action="Students" asp-route-DeptID="@Item.DeptID">@Item.DeptName</a></th>
                </tr>
            }
        </table>
    </div>
    <!--學生列表-->
    <div class="col-9">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().fStuId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().fName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().fEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().fScore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Students.FirstOrDefault().Dept)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.fStuId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dept.DeptName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.fStuId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.fStuId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.fStuId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>